@model IEnumerable<Graduation_Project.Models.ViewModels.CustomerOrderCount>

@{
    ViewBag.Title = "CountCustomerOrders";
}

<h2 style="text-align:center;color:teal;padding:20px;;margin:20px;">CountCustomerOrders</h2>


<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CategotyName)
        </th>
      
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CategotyName)
        </td>
       
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>*@
    </tr>
}

</table>
